.footer {
    padding-top: 30px;
    background-color: #111835;
}
.footer__container {
    margin-left: 10%; 
    display:flex;
    padding-bottom: 9px;
}
.col-md-2 {
    margin-right: 50px;

}

.title > h3 {
    color: #bc855e;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    font-style: bold;
    font-family: "Roboto", sans-serif;
}

.list > p {
    line-height: 2;
    letter-spacing: 1.2px;
    transition: all 0.3s linear;
    font-size: 14px;
    color: white;
    cursor: pointer;
}
.list {
    margin-top: 10px;
}
.social_media {
    margin-left: 22px;
}

.social_icons div{
    border-radius: 50%;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 40px;
    text-align: center;
    color: white;
    padding:5px;
    margin-right:14px;
    cursor: pointer;
}

.facebook{
    background-color: #4267B2;   
}
.instagram{
   background: linear-gradient(45deg
, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}
.twitter{
    background-color: #00acee;
}
.youtube{
    background-color: #FF0000;
}



.tabs {
    display: flex;
    /* justify-content: space-evenly; */
    margin: 10px 0;
    margin-left: 10px;
}

.plus18 {
    height: 40px;
    width: 60px;
    background-color:#ffffff73;
    border:1px solid black;
    margin:0 10px;
}

.plus18 > p {
    text-align: center;
    padding-top: 10px;
    cursor: pointer;

}





.plus18:hover {
    background-color:crimson;
    border-color: crimson;

}




.footer__lang {
    display: flex;
}
.text {
    color:white;
    margin-top: 10px;
    margin-left: 10px;
}

.text > h5 {
    font-size: 17px;
}
.text:hover{
    color:#ffffff73;
}



.selects {
    height: 40px;
    width: 100px;
    background-color:#ffffff73;
    padding-left:10px;
    cursor: pointer;
    margin-left: 20px;
}

.copyright{
    text-align: center;
    background-color:#0c122c;
    padding: 20px 0;
}

.copyright > p {
    color:cornsilk;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: 1.2px;
}